.landing {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  gap: 2%;

  .main-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.thumbnail-side {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.navigation-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}