.time-stamp {
  background: #FFFFFF;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;

  label {
    font-weight: 600;
    font-size: 1rem;
  }
}