.next-item-button {
  background: #FFFFFFCC;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  backdrop-filter: blur(.1rem);

  img {
    height: 50%;
  }

  &:hover {
    background: #FFFFFF;
    cursor: pointer;
  }
}

.next-section-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  label {
    font-weight: 600;
    color: #000000CC;
  }

  img {
    position: relative;
  }
}