.slider {
  border-radius: 3.5rem;
  width: 92vw;
  height: 73vh;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
}

.outer-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-indicator {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

.slider-indicator-container {
  background: #FFFFFFCC;
  backdrop-filter: blur(.1rem);
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
  gap: 0.65rem;
}

.slider-indicator-progress {
  height: 0.5rem;
  border-radius: 2rem;
}

.category-label {
  background: #FFFFFF;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
  position: absolute;
  left: 3.5rem;
  top: 3.5rem;

  label {
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.slider-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3.5rem;
  filter: brightness(0.7);
  position: absolute;
  left: 0;
  top: 0;
}

.see-more {
  display: flex;
  justify-content: center;

  label {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(black, 0.8);
  }
}

.recommended {
  .main-title {
    text-align: center;
  }
}

.latest {
  .main-title {
    text-align: left;
    padding-left: 2rem;
  }
}

@media (max-width: 600px) {
  .category-label {
    left: 50%;
    transform: translateX(-50%);
  }
}
