.small-article-card {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 1rem 0 0 0;
  }

  img {
    border-radius: 3rem;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .open-link-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .small-article-card-image {
    position: relative;
    flex-grow: 1;
    display: flex;
  }
}

.large-article-card {
  scroll-snap-align: start;
  position: relative;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .time-stamp {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }

  .open-link-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}

.medium-article-card {
  scroll-snap-align: start;

  h3 {
    margin: 1rem 0 0 0;
  }

  img {
    height: 30rem;
    border-radius: 3rem;

    &:hover {
      cursor: pointer;
    }
  }

  .open-link-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .medium-article-card-image {
    position: relative;

    .time-stamp {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
    }

    .open-link-button {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }
}

.next-section-card {
  position: relative;

  .next-section-card-image {
    border-radius: 3rem;
    width: 100%;
    height: 100%;
  }

  label {
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2rem;
  }

  .next-section-card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(.5rem) brightness(.5);
    border-radius: 3rem;

    .next-item-button {
      transform: rotate(90deg);
    }
  }
}

.spotlight-card {
  background: #5B5A36;
  border-radius: 3rem;
  padding: 3.5rem;

  h1 {
    color: white;
  }

  label {
    color: white;
  }
}