.small-article-card {
    scroll-snap-align: start;

    h3 {
        margin: 1rem 0 0 0;
    }

    img {
        height: 30rem;
        border-radius: 3rem;
    }
}

.large-article-card {
    scroll-snap-align: start;

    img {
        height: 40rem;
        border-radius: 3rem;
    }
}