html,
body {
	padding: 0;
	margin: 0;
  overflow-x: hidden;
}

body {
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
  font-family: 'Jakarta';
}

iframe {
  border: none;
  
}

.title {
  font-style: italic;
  font-weight: 700;
  font-size: 4rem;
}

.center {
  text-align: center;
}

.scrollable-vertical-list {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/PlusJakartaSans-Regular.ttf');
}