@import "style/text";
@import "style/other";

body, html {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf');
  font-weight: 800;
  font-style: italic;
}